.div-h1 {
    text-align: center;
}

span a {
    text-decoration: none;
    font-size: 10px;
    vertical-align: bottom;
}


.startCamera {
    padding: 15px;
    background-color: rgb(255, 196, 196);
    border-radius: 5px;
    cursor: pointer;
}

.stopCamera {
    padding: 15px;
    background-color: rgb(159, 235, 235);
    border-radius: 5px;
    cursor: pointer;
}

.div-cam {
    display: flex;
    justify-content: center;
    align-items: center;
}
